workflows/biblical-cinematic/n8n/v8.1-kling-v30.json
{
  "name": "Biblical Video Workflow v8.1 - Kling v3.0 Standard",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Get the input text from previous node\nconst inputText = $('Bible Chapter Text Input').item.json.inputText;\n\n// ETHNICITY-AWARE Build the request payload with nation-accurate character depiction\nconst requestPayload = {\n  model: \"sonar-pro\",\n  messages: [{\n    role: \"user\", \n    content: `You are a Biblical storytelling and video production expert specializing in authentic Black Hebrew Israelite biblical content. Create a script for a PRODUCTION-QUALITY 20-scene video that narrates the Bible chapter content provided: \"${inputText}\" exactly as it is—word for word and line for line. Do not summarize or paraphrase any part of the biblical text. Instead, break the Bible chapter into EXACTLY 20 SCENES that facilitate the creation of engaging biblical video content for a full-length production video.\n\nCRITICAL CHARACTER ETHNICITY RULES - READ CAREFULLY:\nEvery character MUST be depicted according to their biblical nationality:\n\nISRAELITES / HEBREWS (default for all Israelite characters):\n- Black Hebrew Israelites with rich, deeply melanated dark skin\n- Natural Afro-textured hair: locs, braids, twists, afros, or traditional head wraps\n- Traditional Hebrew garments: robes, tunics, prayer shawls with visible tzitzit (fringes), sandals\n- Use terms: \"deeply melanated,\" \"rich dark skin,\" \"African Hebrew heritage,\" \"Afro-textured hair\"\n\nROMANS:\n- Caucasian/European with light olive or fair skin\n- Roman military armor, togas, laurel wreaths, red cloaks, gladius swords\n- Clean-shaven or short-cropped hair, Roman military styling\n\nGREEKS / MACEDONIANS:\n- Mediterranean/European with olive to fair skin\n- Greek tunics, Hellenistic armor, plumed helmets, draped robes\n- Curly or wavy hair, Greek styling\n\nEGYPTIANS:\n- North African with brown/dark brown skin\n- Egyptian headdresses, linen garments, gold jewelry, kohl-lined eyes\n\nPERSIANS / MEDES:\n- Middle Eastern with olive to brown skin\n- Persian robes, ornate headpieces, flowing garments, decorative armor\n\nBABYLONIANS / ASSYRIANS:\n- Middle Eastern with olive to brown skin\n- Ornate robes, long curled beards, Mesopotamian crowns and jewelry\n\nPHILISTINES / CANAANITES:\n- Mediterranean/Levantine appearance\n- Bronze armor, distinctive feathered headdresses (Philistines), Canaanite garments\n\nDEFAULT RULE: If the text mentions a nation not listed above, depict them with their historically accurate ethnicity. ONLY Israelites/Hebrews are depicted as Black Hebrew Israelites.\n\nFor each non-empty verse or sentence of the biblical text, create a separate scene where both the overlaid text and the voice-over text match the biblical text exactly.\n\nIf a verse is too short to meet the minimum voice-over text length of 20 words, combine it with the following verse(s) without altering the original biblical wording.\n\nYour output must be in JSON format following this exact schema:\n\n{\n  \"scenes\": [\n    {\n      \"overlaidText\": \"Direct biblical phrase from the text (3-8 words)\",\n      \"voiceOverText\": \"Exact biblical text word-for-word (20-60 words — NEVER exceed 60 words)\",\n      \"imagePrompt\": \"Identify each character's nation and depict with correct ethnicity per rules above - [detailed biblical scene description] - photorealistic, ancient setting, reverent biblical atmosphere\",\n      \"motionDescription\": \"Natural motion for this moment — e.g. 'Camera slowly pulls back as figure raises hands toward golden sky' or 'Robes ripple in wind, crowd parts like a wave'\"\n    }\n  ]\n}\n\nETHNICITY-AWARE IMAGE PROMPT REQUIREMENTS:\n- FIRST identify which nation/people each character in the scene belongs to\n- ISRAELITES: Start with \"Black Hebrew Israelite with deeply melanated skin, Afro-textured hair (locs/braids), wearing traditional Hebrew robes with visible tzitzit fringes\"\n- ROMANS: Describe as \"Caucasian Roman soldier/official with light skin, Roman armor/toga\"\n- GREEKS/MACEDONIANS: Describe as \"Mediterranean Greek warrior/figure with olive skin, Hellenistic armor/robes\"\n- EGYPTIANS: Describe as \"Egyptian figure with brown skin, traditional Egyptian garments and headdress\"\n- PERSIANS/MEDES: Describe as \"Persian figure with olive-brown skin, ornate Persian robes\"\n- For scenes with MULTIPLE nations (e.g. Israelites before a Roman governor), depict EACH character according to their own nation's ethnicity\n- ADD specific scene details after character descriptions\n- INCLUDE: \"photorealistic, ancient biblical times, reverent spiritual atmosphere\"\n- CAMERA ANGLE VARIETY: Alternate close-up / medium shot / wide shot / aerial — never same angle twice in a row\n- LIGHTING CONTRAST: Specify a dramatic light source per scene — \"shaft of divine light from above\", \"torch-lit darkness with one focal point\", \"golden hour rays behind silhouette\"\n\nIMPORTANT GUIDELINES:\n- Use the biblical text exactly as provided—word for word and line for line\n- Create a separate scene for each verse or sentence in the biblical text\n- VoiceOverText must be the exact biblical wording, no paraphrasing\n- OverlaidText should be direct quotes from the biblical text (3-8 words)\n- You MUST create EXACTLY 20 scenes regardless of input text length - distribute the content EVENLY across all 20 scenes so each scene has roughly the same amount of text (20-60 words per scene)\n- For shorter texts, expand descriptions and context while maintaining biblical accuracy\n- For longer texts, segment logically while preserving all content across the 20 scenes\n- Focus on maintaining exact biblical wording and ethnicity-accurate visual representation\n- CRITICAL: Israelites = Black Hebrew Israelites. All other nations = their own historical ethnicity. Never make Romans, Greeks, Egyptians, or Persians look like Black Israelites.\n\nEXAMPLE IMAGE PROMPTS:\n- Israelite scene: \"Black Hebrew Israelite man with deeply melanated skin and natural locs, wearing traditional Hebrew robes with visible tzitzit fringes, standing in ancient temple, photorealistic, reverent biblical atmosphere\"\n- Roman scene: \"Caucasian Roman centurion with light skin in polished bronze armor and red cloak, standing before deeply melanated Black Hebrew Israelite prisoners in Hebrew garments, ancient Jerusalem courtyard, photorealistic\"\n- Greek scene: \"Mediterranean Greek king Alexander with olive skin in Hellenistic armor and plumed helmet, conquering ancient city, photorealistic, dramatic cinematic lighting\"\n- Mixed scene: \"Deeply melanated Black Hebrew Israelite elders with locs and tzitzit-fringed robes standing before olive-skinned Persian king Darius in ornate Persian crown and robes, ancient throne room, photorealistic\"\n\nCRITICAL: Return ONLY raw JSON. No markdown, no code fences, no triple-backtick blocks, no commentary before or after the JSON. Your response must start with { and end with }.`\n  }],\n  max_tokens: 5000,\n  temperature: 0.7,\n  response_format: {\n    type: \"json_schema\",\n    json_schema: {\n      name: \"biblical_scenes\",\n      schema: {\n        type: \"object\",\n        properties: {\n          scenes: {\n            type: \"array\",\n            items: {\n              type: \"object\",\n              properties: {\n                overlaidText:      { type: \"string\" },\n                voiceOverText:     { type: \"string\" },\n                imagePrompt:       { type: \"string\" },\n                motionDescription: { type: \"string\" }\n              },\n              required: [\"overlaidText\", \"voiceOverText\", \"imagePrompt\", \"motionDescription\"],\n              additionalProperties: false\n            }\n          }\n        },\n        required: [\"scenes\"],\n        additionalProperties: false\n      }\n    }\n  }\n};\n\n// Return the payload\nreturn [{\n  json: requestPayload\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1424,
        240
      ],
      "id": "d4d92c14-8313-462e-97d1-202a64080a5e",
      "name": "Biblical Content Prompt Builder"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -96,
        336
      ],
      "id": "6ad7a69d-e002-498b-be11-e0dedc32f715",
      "name": "Wait 15 Seconds",
      "webhookId": "f17237d9-4b2d-4272-af94-4ff174133de3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "error-message-final",
              "name": "errorMessage",
              "value": "={{ $json.movie.message }}",
              "type": "string"
            },
            {
              "id": "error-status-final",
              "name": "errorStatus",
              "value": "{{ $json.movie.status }}",
              "type": "string"
            },
            {
              "id": "error-time-final",
              "name": "errorTime",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -96,
        144
      ],
      "id": "048d3f54-55aa-4336-bfee-fe3b4cb8356b",
      "name": "Error Output"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "video-url-final",
              "name": "finalVideoUrl",
              "value": "={{ $json.movie.url }}",
              "type": "string"
            },
            {
              "id": "video-duration-final",
              "name": "videoDuration",
              "value": "={{ $json.movie.duration }}",
              "type": "number"
            },
            {
              "id": "video-size-final",
              "name": "videoSize",
              "value": "={{ $json.movie.size }}",
              "type": "number"
            },
            {
              "id": "completion-time-final",
              "name": "completedAt",
              "value": "={{ $json.movie.ended_at }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -96,
        -64
      ],
      "id": "16309c93-27eb-4795-9632-639a1cfe3978",
      "name": "Final Video Output"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "video-complete",
                    "leftValue": "={{ $json.movie.status }}",
                    "rightValue": "done",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Video Complete"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.movie.status }}",
                    "rightValue": "error",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "video-error"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Video Error"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "video-processing",
                    "leftValue": "={{ $json.movie.status }}",
                    "rightValue": "running",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Still Processing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -320,
        144
      ],
      "id": "559d4ce6-d55c-4b3c-b7f5-300b9049afda",
      "name": "Video Status Router"
    },
    {
      "parameters": {
        "url": "https://api.json2video.com/v2/movies",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "project",
              "value": "={{ $('Generate v8 Kling Video').item.json.project }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -464,
        336
      ],
      "id": "33cc1abe-b5f1-409e-9eb2-33ec10b393b1",
      "name": "Check Video Status",
      "credentials": {
        "httpHeaderAuth": {
          "id": "AHdXrQizVw41Nyzq",
          "name": "Json2Video"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.json2video.com/v2/movies",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"template\": \"cHtpubYegDm2patG2tym\",\n  \"resolution\": \"hd\",\n  \"quality\": \"high\",\n  \"variables\": {{ JSON.stringify($('Build Template Vars').item.json.templateVariables) }},\n  \"settings\": {\n    \"sceneDuration\": \"auto\",\n    \"voiceTiming\": \"natural\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -176,
        240
      ],
      "id": "fe457fc9-425b-49e0-9a00-a566ea4787a6",
      "name": "Generate v8 Kling Video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "AHdXrQizVw41Nyzq",
          "name": "Json2Video"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json) }}",
        "options": {
          "lowercaseHeaders": false,
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1200,
        240
      ],
      "id": "889dd655-0b50-4560-903b-424f2b6db735",
      "name": "Perplexity AI Scene Generator",
      "credentials": {
        "httpBearerAuth": {
          "id": "xWzVuBnJ3gAEZfcD",
          "name": "Perplexity"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "input-content-final",
              "name": "inputText",
              "value": "={{ $json.body.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1632,
        240
      ],
      "id": "e8049de2-08bf-4e63-b92e-43774fc06330",
      "name": "Bible Chapter Text Input"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "biblical-v8-kling-v30",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1856,
        240
      ],
      "id": "7a59796e-c92a-4f24-875d-412230011f5f",
      "name": "Webhook",
      "webhookId": "biblical-v8-kling-v30"
    },
    {
      "parameters": {
        "jsCode": "// v8.0 Parse Perplexity response into individual scene items\nconst response = items[0].json.choices[0].message.content;\n\n// Field-name-anchored extraction (same as v7.2)\nfunction extractScenes(text) {\n  const fieldOrder = ['overlaidText', 'voiceOverText', 'imagePrompt', 'motionDescription'];\n  const scenes = [];\n  let searchFrom = 0;\n  function isWS(ch) { return ch === ' ' || ch === '\\n' || ch === '\\r' || ch === '\\t'; }\n  while (true) {\n    const firstKey = '\"' + fieldOrder[0] + '\"';\n    const sceneStart = text.indexOf(firstKey, searchFrom);\n    if (sceneStart === -1) break;\n    const scene = {};\n    let pos = sceneStart;\n    for (let fi = 0; fi < fieldOrder.length; fi++) {\n      const fn = fieldOrder[fi];\n      const nextFn = fi < fieldOrder.length - 1 ? fieldOrder[fi + 1] : null;\n      const keyPat = '\"' + fn + '\"';\n      const keyPos = text.indexOf(keyPat, pos);\n      if (keyPos === -1) break;\n      const colonPos = text.indexOf(':', keyPos + keyPat.length);\n      const openQuotePos = text.indexOf('\"', colonPos + 1);\n      const vStart = openQuotePos + 1;\n      let vEnd;\n      if (nextFn) {\n        const nextKeyPat = '\"' + nextFn + '\"';\n        const nextKeyPos = text.indexOf(nextKeyPat, vStart);\n        let back = nextKeyPos - 1;\n        while (back > vStart && isWS(text[back])) back--;\n        if (text[back] === ',') back--;\n        while (back > vStart && isWS(text[back])) back--;\n        vEnd = back;\n      } else {\n        const nextScenePos = text.indexOf('\"' + fieldOrder[0] + '\"'  , vStart);\n        const boundary = nextScenePos !== -1 ? nextScenePos : text.length;\n        let bracePos = boundary - 1;\n        while (bracePos > vStart && text[bracePos] !== '}') bracePos--;\n        let back = bracePos - 1;\n        while (back > vStart && isWS(text[back])) back--;\n        vEnd = back;\n      }\n      scene[fn] = text.substring(vStart, vEnd);\n      pos = vEnd;\n    }\n    if (scene[fieldOrder[0]] !== undefined) scenes.push(scene);\n    searchFrom = pos + 1;\n  }\n  return scenes;\n}\n\nlet scenes = [];\nlet cleanResponse = '';\nfor (let i = 0; i < response.length; i++) {\n  const c = response.charCodeAt(i);\n  cleanResponse += (c < 32 && c !== 9 && c !== 10 && c !== 13) ? ' ' : response[i];\n}\nlet jsonText = cleanResponse;\nconst codeBlockMatch = cleanResponse.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\nif (codeBlockMatch) jsonText = codeBlockMatch[1].trim();\nconst jsonMatch = jsonText.match(/\\{[\\s\\S]*\\}/);\nif (jsonMatch) jsonText = jsonMatch[0];\n\ntry {\n  const sceneData = JSON.parse(jsonText);\n  scenes = sceneData.scenes || [];\n} catch (e) {\n  scenes = extractScenes(jsonText);\n  if (scenes.length === 0) throw new Error('Failed to parse scenes: ' + e.message);\n}\nif (scenes.length === 0) throw new Error('No scenes found');\n\nfunction cleanText(text) {\n  if (!text) return '';\n  return text.replace(/\"/g, \"'\").replace(/\\n/g, \" \").replace(/\\r/g, \" \").replace(/\\t/g, \" \").replace(/[\\u0000-\\u001F\\u007F-\\u009F]/g, \"\").trim();\n}\n\n// Output one item per scene for HTTP Request nodes to process\nreturn scenes.map((scene, index) => ({\n  json: {\n    sceneNum: index + 1,\n    imagePrompt: cleanText(scene.imagePrompt || '') + ', biblical, spiritual, reverent, cinematic lighting, professional photography, ultra-detailed, photorealistic, 8K quality',\n    voiceOverText: cleanText(scene.voiceOverText || ''),\n    overlaidText: cleanText(scene.overlaidText || 'Scene ' + (index + 1)),\n    motionDescription: cleanText(scene.motionDescription || 'Slow cinematic camera movement with natural motion')\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -976,
        240
      ],
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Parse Scenes"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fal.run/fal-ai/flux-pro",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key f5a5a176-33b5-4c3d-8ffc-a7cf426e5926:f784581a020d123a488fc2094d472d0f"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ prompt: $json.imagePrompt, image_size: 'landscape_16_9', num_inference_steps: 28, num_images: 1 }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -676,
        340
      ],
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Generate FLUX Image"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fal.run/fal-ai/kling-video/v3/standard/image-to-video",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key f5a5a176-33b5-4c3d-8ffc-a7cf426e5926:f784581a020d123a488fc2094d472d0f"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ image_url: $json.images[0].url, prompt: $('Parse Scenes').item.json.motionDescription, duration: '10', cfg_scale: 0.5 }) }}",
        "options": {
          "timeout": 600000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -476,
        340
      ],
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Generate Kling Video"
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all scene results into template variables for JSON2Video\n// v8.0 — text-balanced: splits any scene over 55 words at sentence boundary\nconst allScenes = $('Parse Scenes').all();\nconst MAX_WORDS = 55;\n\n// Step 1: Collect all scenes\nconst scenes = [];\nfor (let i = 0; i < items.length; i++) {\n  scenes.push({\n    videoUrl: items[i].json.video?.url || items[i].json.data?.video?.url || '',\n    voiceOverText: allScenes[i].json.voiceOverText || '',\n    overlaidText: allScenes[i].json.overlaidText || ''\n  });\n}\n\n// Step 2: PAD to 20 scenes\nconst lastUrl = scenes.length > 0 ? scenes[scenes.length - 1].videoUrl : '';\nwhile (scenes.length < 20) {\n  scenes.push({ videoUrl: lastUrl, voiceOverText: '', overlaidText: '' });\n}\n\n// Helper: split text at sentence boundary (period+space) near target word count\nfunction splitAtSentence(text, targetWords) {\n  let wordCount = 0;\n  // Try to find period+space at or after targetWords\n  for (let c = 0; c < text.length; c++) {\n    if (text[c] === ' ') wordCount++;\n    if (wordCount >= targetWords && text[c] === '.' && c + 1 < text.length && text[c + 1] === ' ') {\n      return [text.substring(0, c + 1).trim(), text.substring(c + 1).trim()];\n    }\n  }\n  // Fallback: find period+space after 25 words minimum\n  wordCount = 0;\n  for (let c = 0; c < text.length; c++) {\n    if (text[c] === ' ') wordCount++;\n    if (wordCount >= 25 && text[c] === '.' && c + 1 < text.length && text[c + 1] === ' ') {\n      return [text.substring(0, c + 1).trim(), text.substring(c + 1).trim()];\n    }\n  }\n  // Last resort: hard split at word boundary\n  const words = text.split(' ');\n  return [words.slice(0, targetWords).join(' '), words.slice(targetWords).join(' ')];\n}\n\n// Step 3: Forward pass — split oversized scenes, push overflow forward\nfor (let i = 0; i < 19; i++) {\n  const words = scenes[i].voiceOverText.split(/\\s+/).filter(w => w.length > 0);\n  if (words.length <= MAX_WORDS) continue;\n  const [kept, overflow] = splitAtSentence(scenes[i].voiceOverText, MAX_WORDS);\n  scenes[i].voiceOverText = kept;\n  if (overflow) {\n    const next = scenes[i + 1];\n    if (next.voiceOverText.length > 0) {\n      next.voiceOverText = overflow + ' ' + next.voiceOverText;\n    } else {\n      next.voiceOverText = overflow;\n      next.videoUrl = scenes[i].videoUrl;\n      next.overlaidText = scenes[i].overlaidText;\n    }\n  }\n}\n\n// Step 4: Handle scene 20 overflow — push backward into scene 19\nconst words20 = scenes[19].voiceOverText.split(/\\s+/).filter(w => w.length > 0);\nif (words20.length > MAX_WORDS) {\n  const [kept, overflow] = splitAtSentence(scenes[19].voiceOverText, MAX_WORDS);\n  scenes[19].voiceOverText = kept;\n  if (overflow) {\n    // Prepend overflow to scene 19 (index 18) — it becomes a longer scene 19\n    scenes[18].voiceOverText = scenes[18].voiceOverText + ' ' + overflow;\n  }\n}\n\n// Step 4b: Backfill empty scenes — if voiceOverText is empty, split from previous scene\nfor (let i = 1; i < 20; i++) {\n  if (scenes[i].voiceOverText.trim().length === 0) {\n    // Find the nearest previous scene with text to split\n    for (let j = i - 1; j >= 0; j--) {\n      const prevWords = scenes[j].voiceOverText.split(/\\s+/).filter(w => w.length > 0);\n      if (prevWords.length >= 10) {\n        const [kept, overflow] = splitAtSentence(scenes[j].voiceOverText, Math.floor(prevWords.length / 2));\n        scenes[j].voiceOverText = kept;\n        scenes[i].voiceOverText = overflow;\n        if (!scenes[i].overlaidText) {\n          // Generate overlaid text from first few words\n          const oWords = overflow.split(/\\s+/).slice(0, 5).join(' ');\n          scenes[i].overlaidText = oWords.replace(/[.,;:!?]+$/, '');\n        }\n        break;\n      }\n    }\n  }\n}\n\n// Step 5: Build template variables\nconst templateVariables = {};\nfor (let i = 0; i < 20; i++) {\n  const num = i + 1;\n  templateVariables['scene' + num + '_videoUrl'] = scenes[i].videoUrl;\n  templateVariables['scene' + num + '_voiceOverText'] = scenes[i].voiceOverText;\n  templateVariables['scene' + num + '_overlaidText'] = scenes[i].overlaidText;\n}\ntemplateVariables.totalScenes = items.length;\n\n// Debug: word counts per scene\nconst wordCounts = {};\nfor (let i = 0; i < 20; i++) {\n  wordCounts['scene' + (i+1)] = scenes[i].voiceOverText.split(/\\s+/).filter(w => w.length > 0).length;\n}\n\nreturn [{\n  json: {\n    templateVariables: templateVariables,\n    totalScenes: items.length,\n    debugInfo: {\n      timestamp: new Date().toISOString(),\n      version: 'v8.0 - Text-balanced (max 55 words/scene)',\n      scenesGenerated: items.length,\n      scenesPadded: Math.max(0, 20 - items.length),\n      wordCounts: wordCounts\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -376,
        240
      ],
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Build Template Vars"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -876,
        240
      ],
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "Loop Over Items"
    }
  ],
  "pinData": {},
  "connections": {
    "Video Status Router": {
      "main": [
        [
          {
            "node": "Final Video Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 15 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Video Status": {
      "main": [
        [
          {
            "node": "Video Status Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity AI Scene Generator": {
      "main": [
        [
          {
            "node": "Parse Scenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bible Chapter Text Input": {
      "main": [
        [
          {
            "node": "Biblical Content Prompt Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Biblical Content Prompt Builder": {
      "main": [
        [
          {
            "node": "Perplexity AI Scene Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 15 Seconds": {
      "main": [
        [
          {
            "node": "Check Video Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate v8 Kling Video": {
      "main": [
        [
          {
            "node": "Check Video Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Scenes": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate FLUX Image": {
      "main": [
        [
          {
            "node": "Generate Kling Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Kling Video": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Template Vars": {
      "main": [
        [
          {
            "node": "Generate v8 Kling Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Build Template Vars",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate FLUX Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Bible Chapter Text Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f06a4454-0105-4d1c-831e-7daeb71f23e0",
  "meta": {
    "instanceId": "1eeefdc376334d61f01d36766d159f46708c6e5b85ad002d5bccb8d39028dc5e"
  },
  "id": "E4WGaVxw2jkQRbB4",
  "tags": []
}